@import "tailwindcss";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overscroll-behavior: none; /* Prevent overscroll behavior */
}

body {
  font-family: "Lato", sans-serif;
  background-color: var(--color-beige);
}

/* Custom colors for the main theme */
@theme {
  --color-beige: #f2e9d8;
  --color-lightBeige: #f9f6f1;
  --color-darkBeige: #95928c;
  --color-lightGreen: #aaff9f;
  --color-darkGreen: #7cd870;
  --color-darkerGreen: #1a201d;
  --shadow-custom-dark: 0 3px 6px rgba(0, 0, 0, 0.5);
}

.text-shadow {
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 1));
}

.input-inner-shadow:focus {
  box-shadow: inset 0 0 0 2px #f2e9d8;
}

.shadow-custom-dark {
  box-shadow: var(--shadow-custom-dark);
}

.headerNavBox,
.footerBg {
  background-image: url("../images/bg-palms.jpg");
}

/* Custom styles for the carousel */
.carousel .control-arrow,
.carousel.carousel-slider .control-arrow {
  opacity: 1;
}

.carousel .control-next.control-arrow::before {
  border-left: 14px solid white;
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 1));
}

.carousel .control-prev.control-arrow::before {
  border-right: 14px solid white;
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 1));
}

.carousel .control-next.control-arrow:hover::before {
  border-left: 14px solid var(--color-darkGreen);
}

.carousel .control-prev.control-arrow:hover::before {
  border-right: 14px solid var(--color-darkGreen);
}

.carousel .control-arrow::before,
.carousel.carousel-slider .control-arrow::before {
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
}

.carousel-slider {
  border-radius: 4px;
}

.carousel .control-dots .dot {
  background-color: white;
  opacity: 1;
  width: 20px;
  border-radius: 4px;
}

.carousel .control-dots .dot:hover {
  background-color: var(--color-darkGreen);
}

.carousel .control-dots .selected {
  background-color: var(--color-darkGreen);
}

/* .lato-thin {
  font-family: "Lato", serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", serif;
  font-weight: 700;
  font-style: italic;
}

/* Logo, h1 */
/* .lato-black-italic {
  font-family: "Lato", serif;
  font-weight: 900;
  font-style: italic;
} */
